<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jetpackdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <queries>

        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />

            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />

            <data android:mimeType="image/*" />
        </intent>
        <!-- Added -->
        <intent>
            <action android:name="android.intent.action.DIAL" />

            <data android:scheme="tel" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="application/pdf" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <!-- If you don't know the MIME type in advance, set "mimeType" to "*/*". -->
            <data android:mimeType="application/pdf" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="google.navigation" />
        </intent>
    </queries>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetPackDemo"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ViewModelDemo.ViewModelMainActivity"
            android:parentActivityName=".HomePage.HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".ViewModelDemo.ViewModeDemo2Activity"
            android:parentActivityName=".ViewModelDemo.ViewModelMainActivity"
            android:exported="false" />
        <activity
            android:name=".ViewModelShareDemo.DemoViewmodelActivity"
            android:exported="false"
            android:parentActivityName=".HomePage.HomePageActivity"
            android:theme="@style/Theme.JetPackDemo" />
        <activity
            android:name=".Scanner.TextRecognizationActivity"
            android:exported="false"
            android:label="Text Recognization Demo"
            android:parentActivityName=".HomePage.HomePageActivity" />
        <activity
            android:name=".Scanner.TextScannerActivity"
            android:exported="false" />
        <activity
            android:name=".Scanner.ScannerDemoActivity"
            android:exported="false"
            android:label="Scanner Demo"
            android:parentActivityName=".HomePage.HomePageActivity"
            android:theme="@style/Theme.JetPackDemo" />
        <activity
            android:name=".Scanner.ScannerActivity"
            android:exported="false"
            android:label="Scanner Demo"
            android:parentActivityName=".HomePage.HomePageActivity"
            android:theme="@style/Theme.JetPackDemo" />
        <activity
            android:name=".ServiceDemo.ServiceDemoActivity"
            android:exported="false"
            android:label="Service Demo"
            android:parentActivityName=".HomePage.HomePageActivity"
            android:theme="@style/Theme.JetPackDemo" />
        <activity
            android:name=".Notification.NotificationActivity"
            android:exported="false"
            android:label="Work Manager Demo"
            android:parentActivityName=".HomePage.HomePageActivity"
            android:theme="@style/Theme.JetPackDemo" />
        <activity
            android:name=".WorkManager.WorkManagerDemoActivity"
            android:exported="false"
            android:label="Work Manager Demo"
            android:parentActivityName=".HomePage.HomePageActivity"
            android:theme="@style/Theme.JetPackDemo" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.JetPackDemo" />
        <activity
            android:name=".NavigationDemo.NavDemoActivity"
            android:exported="false"
            android:label="Home"
            android:parentActivityName=".HomePage.HomePageActivity"
            android:theme="@style/Theme.JetPackDemo" />
        <activity
            android:name=".KotlinDemo.KotlinBasicDemoActivity"
            android:exported="false"
            android:parentActivityName=".HomePage.HomePageActivity"
            android:theme="@style/Theme.JetPackDemo" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".HomePage.HomePageActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.jetpackdemo"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- // For Calling the Foreground Service -->
        <service android:name=".ServiceDemo.Service.ForegroundService" /> <!-- //Google Milkit Text Vision -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>

</manifest>