<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" -->
    <!-- tools:ignore="QueryAllPackagesPermission" /> -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Location permission -->
    <!-- Always include this permission -->
    <!-- For Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Audio permission -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- Background permission -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- Network permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- For Call Log Handling Permission -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" /> <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" -->
    <!-- android:maxSdkVersion="29" /> -->
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission
        android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <queries>
        <package android:name="com.utility.finmartcontact" />

        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="image/jpeg" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:mimeType="*/*" />
        </intent>

        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />

            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />

            <data android:mimeType="image/*" />
        </intent>
        <!-- Added -->
        <intent>
            <action android:name="android.intent.action.DIAL" />

            <data android:scheme="tel" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="application/pdf" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <!-- If you don't know the MIME type in advance, set "mimeType" to "*/*". -->
            <data android:mimeType="application/pdf" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="google.navigation" />
        </intent>
    </queries>

    <application
        android:name=".BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetPackDemo"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".webView.WebViewDemoActivity"
            android:exported="false"
            android:parentActivityName=".LoginModule.UI.HomeDashboardActivity" />
        <activity
            android:name=".OpenAnotherApp.OpenAnotherActivity"
            android:exported="false"
            android:parentActivityName=".LoginModule.UI.HomeDashboardActivity" />
        <activity
            android:name=".CameraGalleryDemo.MultiplePermissionActivity"
            android:exported="false"
            android:parentActivityName=".LoginModule.UI.HomeDashboardActivity"
            android:theme="@style/Theme.JetPackDemo" />
        <activity
            android:name=".webView.CommonWebViewActivity"
            android:exported="false"
            android:label="WebView"
            android:parentActivityName=".LoginModule.UI.HomeDashboardActivity"
            android:theme="@style/Theme.JetPackDemo" />
        <activity
            android:name=".LoginModule.UI.HomeDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".CameraGalleryDemo.PermissionActivity"
            android:exported="false"
            android:label="@string/title_activity_file_demo"
            android:parentActivityName=".CameraGalleryDemo.ActivityResultLauncherDemoActivity"
            android:theme="@style/Theme.JetPackDemo.NoActionBar" />
        <activity
            android:name=".CameraGalleryDemo.ActivityResultLauncherDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_file_demo"
            android:parentActivityName=".HomePage.HomePageActivity"
            android:theme="@style/Theme.JetPackDemo.NoActionBar" />
        <activity
            android:name=".FileDemo.FileDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_file_demo"
            android:parentActivityName=".HomePage.HomePageActivity"
            android:theme="@style/Theme.JetPackDemo.NoActionBar" />
        <activity
            android:name=".RoomDemo.UI.DisplayRoomData.DisplayRoomDataActivity"
            android:exported="false"
            android:parentActivityName=".RoomDemo.RoomDemoMainActivity" />
        <activity
            android:name=".LoginModule.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StateFlowBasic.StateFlowBasicDemoActivity"
            android:exported="false"
            android:parentActivityName=".HomePage.HomePageActivity" />
        <activity
            android:name=".MVVMDemo.UI.MVVMMainActivity"
            android:exported="false"
            android:parentActivityName=".HomePage.HomePageActivity" />
        <activity
            android:name=".MVVMDemo.UI.MVVMGetConstantActivity"
            android:exported="false"
            android:parentActivityName=".MVVMDemo.UI.MVVMMainActivity" />
        <activity
            android:name=".MVVMDemo.UI.MVVMDemoActivity"
            android:exported="false"
            android:parentActivityName=".MVVMDemo.UI.MVVMMainActivity" />
        <activity
            android:name=".CoroutineDemo.CoroutineDemo1Activity"
            android:exported="false"
            android:parentActivityName=".HomePage.HomePageActivity" />
        <activity
            android:name=".ViewModelDemo.LiveDataDemo.LiveDataDemoActivity"
            android:exported="false"
            android:label="Live Data Demo"
            android:parentActivityName=".RoomDemo.RoomDemoMainActivity" />
        <activity
            android:name=".RoomDemo.RoomDemoMainActivity"
            android:exported="false"
            android:label="@string/title_activity_room_demo_main"
            android:parentActivityName=".HomePage.HomePageActivity"
            android:theme="@style/AppTheme.CustomMaterialTheme" />
        <activity
            android:name=".RoomDemo.UI.RoomDemoActivity"
            android:exported="false"
            android:parentActivityName=".RoomDemo.RoomDemoMainActivity"
            android:theme="@style/AppTheme.CustomMaterialTheme" />
        <activity
            android:name=".ViewModelDemo.ViewModelFactoryDemo.ViewModelDemo3Activity"
            android:exported="false"
            android:parentActivityName=".ViewModelDemo.ViewModelMainActivity" />
        <activity
            android:name=".ViewModelDemo.ViewModelMainActivity"
            android:exported="false"
            android:parentActivityName=".HomePage.HomePageActivity" />
        <activity
            android:name=".ViewModelDemo.ViewModeDemo2Activity"
            android:exported="false"
            android:parentActivityName=".ViewModelDemo.ViewModelMainActivity" />
        <activity
            android:name=".ViewModelShareDemo.DemoViewmodelActivity"
            android:exported="false"
            android:parentActivityName=".HomePage.HomePageActivity"
            android:theme="@style/Theme.JetPackDemo" />
        <activity
            android:name=".Scanner.TextRecognizationActivity"
            android:exported="false"
            android:label="Text Recognization Demo"
            android:parentActivityName=".HomePage.HomePageActivity" />
        <activity
            android:name=".Scanner.TextScannerActivity"
            android:exported="false" />
        <activity
            android:name=".Scanner.ScannerDemoActivity"
            android:exported="false"
            android:label="Scanner Demo"
            android:parentActivityName=".HomePage.HomePageActivity"
            android:theme="@style/Theme.JetPackDemo" />
        <activity
            android:name=".Scanner.ScannerActivity"
            android:exported="false"
            android:label="Scanner Demo"
            android:parentActivityName=".HomePage.HomePageActivity"
            android:theme="@style/Theme.JetPackDemo" />
        <activity
            android:name=".ServiceDemo.ServiceDemoActivity"
            android:exported="false"
            android:label="Service Demo"
            android:parentActivityName=".HomePage.HomePageActivity"
            android:theme="@style/Theme.JetPackDemo" />
        <activity
            android:name=".Notification.NotificationActivity"
            android:exported="false"
            android:label="Work Manager Demo"
            android:parentActivityName=".HomePage.HomePageActivity"
            android:theme="@style/Theme.JetPackDemo" />
        <activity
            android:name=".WorkManager.WorkManagerDemoActivity"
            android:exported="false"
            android:label="Work Manager Demo"
            android:parentActivityName=".HomePage.HomePageActivity"
            android:theme="@style/Theme.JetPackDemo" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.JetPackDemo" />
        <activity
            android:name=".KotlinDemo.KotlinBasicDemoActivity"
            android:exported="false"
            android:parentActivityName=".HomePage.HomePageActivity"
            android:theme="@style/Theme.JetPackDemo" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".HomePage.HomePageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.JetPackDemo">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.jetpackdemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- // For Calling the Foreground Service -->
        <service android:name=".ServiceDemo.Service.ForegroundService" />
        <service android:name=".ServiceDemo.Service.CallerForegroundService" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver
            android:name=".TrucallerModel.BroadCastReceiver.CallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".TrucallerModel.ExitActivity"
            android:autoRemoveFromRecents="true"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".TrucallerModel.MyCustomDialog"
            android:noHistory="true"
            android:taskAffinity=".MyCustomDialog"
            android:theme="@style/MyDialogTheme" />
        <activity
            android:name=".TrucallerModel.CallerDialogActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:showOnLockScreen="true"
            android:taskAffinity=""
            android:theme="@style/Theme.JetPackDemo" />
    </application>

</manifest>